#all-cources{
    margin: 40px auto;
    font-size:50px;
    font-weight:bold;
     color: #000;
     letter-spacing: 5px;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     color: hsl(85deg 54% 51%)                    
}
